$black: #2f3234;
$white: #fff;
$yellow: #f9b43b;
$orange: #eb8c38;
$grey: #3e3e3e;
$light-grey: #626262;
$button-color: #e45028;

@import 'layout/normalize';
@import 'layout/fonts';
@import 'layout/media';
@import 'layout/interface';

@import './blocks/*.scss';